@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7cPT+Sans%7cSigmar+One&display=swap');

body {
    background-color: #eff4ff;
}

header,
footer {
    background-color: #3672aa;
    padding: 1em;
    border-radius: 15px;
    width: 100%;
}

header,
footer {
    text-align: left;
}

h1 {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}
.site-purpose {
    width: auto;
    height: auto;
    border: 2px black solid;
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
}
p {
    font-family: 'Gayathri', sans-serif;
    text-align: center;
}

#weather {
    width: 100%;
    height: auto;
    border: 2px black solid;
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
  }
  
  nav {
      background-color: #919191;
  }
  
  nav a {
      color: #090a0a;
      text-decoration: none;
      line-height: 1em;
      display: block;
  }
  
  nav li {
      list-style-type: none;
      font-size: 1.3em;
      display: inline-block;
      padding: 1%;
      align-content: left;
  }
  
  nav a:hover {
      background-color: #734b5e;
      color: #f5d3ee;
      border-radius: 2%;
  
  }

  ul {
      margin-top: 0px;
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
  }

/* iPhoneX views */
main,
header,
footer,
nav
    {
    max-width: 767px;
    margin: 0 auto;
    flex-flow: row wrap;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    background-color: seashell;
}

main section {
    margin: 0.5rem;
    border: 1.5px solid black;
    padding: 0 1rem;
    background-color: seashell;
}

/* iPad Views */
@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    section:nth-child(2) {
        display: block;
    }

    section:nth-child(3) {
        grid-column: span 2;
    }

    main picture {
        display: block;
    }

    header footer main section {
        width: 100%;
        height: auto;
        border: 1px solid darkgray;
        flex-flow: row wrap;
    }

    ul {
        flex-direction: row;
    }
}

/* Laptop with Touch Views */
@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    section:nth-child(3) {
        grid-column: span 1;
    }

    main section {
        margin: 0.5rem;
        border: 2px solid black;
        padding: 0 1rem;
        max-width: 375px;
        flex-flow: row wrap;
    }
}